{% extends 'base.html' %}
{% load main_tag %}
{% block title %}
    Выйти
{% endblock title %}

{% block content %}
    {% get_header 'logout' request %}
    <div class="container">
        <p class="h4">
            Вы точно хотите выйти?
        </p>
        <a href="/mydisk" class="btn btn-outline-success mb-2">Остаться</a>
        <form action="{% url 'account_logout' %}" method="POST">
            {% csrf_token %}
            <input type="submit" class="btn btn-outline-danger" value="Выйти">
        </form>
    </div>
{% endblock %}