{% extends 'base.html' %}
{% load static %}

{% block title %}
    Зарегестрироваться
{% endblock title %}

{% block extra-styles %}
    <link rel="stylesheet" href="{% static 'styles/form-style.css' %}">
{% endblock extra-styles %}

{% block content %}
    <form class="form text-center" method="post" action="/accounts/signup">
        <img class="mb-4" src="{% static 'images/disk.png' %}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Зарегестрируйтесь</h1>
        <label for="inputEmail" class="sr-only">Логин</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Логин" required autofocus>
        <label for="inputPassword" class="sr-only">Пароль</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" required>
        <label for="inputRepeat" class="sr-only">Повторите пароль</label>
        <input type="password" id="inputRepeat" class="form-control" placeholder="Повторите пароль" required>
        <!--    <div class="checkbox mb-3">-->
        <!--        <label>-->
        <!--            <input type="checkbox" value="remember-me"> Remember me-->
        <!--        </label>-->
        <!--    </div>-->
        <button class="btn btn-lg btn-primary btn-block" type="submit">Зарегестрироваться</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p>
    </form>
{% endblock content %}