{% extends 'base.html' %}
{% load static %}
{% block title %}
    Об авторе
{% endblock title %}
{% block content %}
    <center>
        <h2>
            Больше обо мне
        </h2>
    </center>
    <br>
    <h2>
        <p>
            Всем привет от авотора сайта! Просто хотелось оставить небольшую заметку о себе. Я обычный мальчик 12-ти
            лет, учащийся в шестом классе. Когда-то я услышал, что такое программирование. Попробовал. Заинтересовался.
            Я сменил много сфер и языков, однако на данный момент мне больше всего нравится писать back-end для сайтов
            на языке python. Именно back-end, front мне пока не очень нравится. Наверно это связано стем. что делат его
            у меня получается не очень хорошо. Весь дизайн этого сайта я писал сам, и понимаю, что это не красиво.
            Единственный жлемент фронта, который у меня вроде получается хорошо, это текстовые поля:
        </p>
    </h2>
    <br>
    <center>
        <div id="form-margin">
            <form>
                <div class="g">
                    <input type="text" class="text" id="input1" required>
                    <label class="placeholder" for="input1">текст</label>
                    <span class="bar"></span>
                </div>
            </form>
        </div>
    </center>
    <br>
    <h2>
        <p>
            Вот в общем и всё. Весь остальной дизайн как-то не очень. Многие, кто видит этот текст знают меня лично.
            Пользуясь подобным случаем, передаю вам всем привет!
        </p>
    </h2>
    <br>
    <div id="form-margin">
        <div style="padding: 20px;
        background-color: aqua;
        border-radius: 15px;
        width: 70%;">
            <center>
                <h2>
                    Как со мной связаться:
                </h2>
            </center>
            <h3>
                <ul>
                    <li>
                        <a href="https://t.me/coder8080_bot">
                            Мой бот в телеграмме
                        </a>
                    </li>
                    <li>
                        Скоро можно будет заполнить анкету с сообщением. Пока эта функция недоступна.
                    </li>
                </ul>
            </h3>
        </div>
    </div>
{% endblock content %}