{% extends 'base.html' %}
{% load static %}
{% load main_tag %}
{% block title %}
    Об авторе
{% endblock title %}
{% block content %}
    {% get_header 'author' %}
    <div class="jumbotron" style="background: url('/static/images/back.jpg') fixed; background-size: cover">
        <div class="container">
            <h1 class="display-3">Автор проекта "Disk"</h1>
            <p>
                Disk - система облачного файлового хранения файлов.
            </p>
            <p>
                <a class="btn btn-success btn-lg" href="https://github.com/coder8080" role="button">
                    Мой github &raquo;
                </a>
            </p>
        </div>
    </div>
    <div class="container">
        <p class="h4">
            Всем привет! Да так, ничего особенного, просто захотелось сделать вот такую страничку. Мой профиль github: <a href="https://github.com/coder8080/disk">тык</a>.
        </p>
    </div>
{% endblock content %}