{% extends 'base.html' %}
{% load static %}
{% block title %}
    Об авторе
{% endblock title %}
{% block content %}
    <center>
        <h2>
            Больше обо мне
        </h2>
    </center>
    <br>
    <h2>
        <p>
            Как я уже сказал, я пока только начинаю свою карьеру в области IT. Но несмотря на свой возраст (мне 12) уже
            многое могу. Этот сайт я написал полностью самостоятельно, использую только свои знания и умения. Я долго
            учился. Когда-нибудь этим летом я возьмусь за ум и найду репетитора по фронтенду. Для тех, кто не знает что
            такое фронтенд: грубо говоря, это то, что видит пользователь (в данном случае вы), а бэкенд - это то, что
            выполняет сервер. С бэком у меня всё более-менее хорошо. А вот с фронтом не очень. Максимально красивое
            текстовое поле, которое я могу сделать, представлено ниже:
        </p>
    </h2>
    <br>
    <center>
        <div id="form-margin">
            <form>
                <div class="g">
                    <input type="text" class="text" id="input1" required>
                    <label class="placeholder" for="input1">логин</label>
                    <span class="bar"></span>
                </div>
            </form>
        </div>
    </center>
    <br>
    <h2>
        <p>
            В принципе, если постараться, можно ещё добавить анимированую синюю полоску внизу, но мне лень. Ну вот. А
            ещё
            я могу сделать так, чтобы блоки на странице перестраивались в зависимости от ширины экрана. Можете сами
            увидеть это на <a href="/">главной странице</a>.
        </p>
    </h2>
    <br>
    <div id="form-margin">
        <div style="padding: 20px;
        background-color: aqua;
        border-radius: 15px;
        width: 70%;">
            <center>
                <h2>
                    Как со мной связаться:
                </h2>
            </center>
            <h3>
                <ul>
                    <li>
                        <a href="https://t.me/coder8080_bot">
                            Мой бот в телеграмме
                        </a>
                    </li>
                    <li>
                        Скоро можно будет заполнить анкету с сообщением. Пока эта функция недоступна.
                    </li>
                </ul>
            </h3>
        </div>
    </div>
{% endblock content %}