{% extends 'base.html' %}
{% load static %}
{% load main_tag %}
{% block title %}Главная{% endblock title %}

{% block content %}
    <main role="main">
        {% get_header 'main' request %}
        <div class="p-5" style="
                {% if request.user.disk_set.all.0.theme == 'light' %}
                    background: url('/static/images/new_year_back.jpg') fixed;
                    background-size: cover;
                {% endif %}
                ">
            <div class="container">
                <p class="display-3 header">Проект "Disk"</p>
                <p>
                    Disk - система облачного хранения файлов
                </p>
                <p>
                    <a class="btn btn-lg
                    {% if request.user.disk_set.all.0.theme != 'neon' %}
                    btn-success
                    {% else %}
                    btn-outline-primary
                    {% endif %}
                    " href="https://github.com/coder8080/disk" role="button">
                        Станица проекта &raquo;
                    </a>
                </p>
            </div>
        </div>

        <div class="container mt-3">
            <div class="row">
                <div class="col-md">
                    <h2 class="header">Простота использования</h2>
                    <p>
                        Я пытался сделать сайт максимально понятным для неподготовленного пользователя, и, надеюсь, у
                        меня
                        получилось
                    </p>
                </div>
                <div class="col-md">
                    <h2 class="header">Безопасность</h2>
                    <p>
                        Пользоваться сайтом безопасно. Как только вы загружаете файл на сервер, программа шифрует его.
                        Таким
                        образом, даже если сервер взломают, ваши файлы будут в безопасности.
                    </p>
                </div>
                <div class="col-md">
                    <h2 class="header">Доступность</h2>
                    <p>
                        Мой проект использует лицензию MIT и хранится в открытом доступе на github. Если вы программист,
                        то
                        вы можете с лёгкостью менять мой сайт а так же опубликовать его у себя на сервере. Так же вы
                        можете
                        посмотреть код, если сомневаетесь в безопасности ресурса.
                    </p>
                </div>
            </div>

            {% if request.user.is_authenticated is False %}
                <br>

                <div class="p-5 rounded bg-light">
                    <h1 class="display-4 header">Начните сейчас</h1>
                    <p class="lead">
                        Регистрация на сайте бесплатна. Вы можете начать пользоваться облачным хранилищем прямо сейчас!
                    </p>
                    <a class="btn btn-outline-primary btn-lg" href="/accounts/signup"
                       role="button">Зарегестрироваться</a>
                </div>
            {% endif %}

            <hr>

        </div>

    </main>

    <footer class="container">
        <p>&copy; coder8080 2017-2020</p>
    </footer>
{% endblock content %}