{% extends 'base.html' %}
{% load main_tag %}
{% load static %}
{% block title %}
    {{ user.username }}
{% endblock title %}

{% block content %}
    {% get_header 'private_office' request %}
    <div class="container text-center">
        <h2 class="header">
            Личный кабинет пользователя {{ user.username }}
        </h2>
    </div>
    <div class="container" style="margin-top: 70px">
        <div class="row">
            <div class="col-md">
                <p>
                    Занято: {{ busy }} мб
                </p>
                <div class="progress
                    {% if theme == 'dark' or theme == 'neon' %}
                        bg-dark
                    {% endif %}
                ">
                    <div class="progress-bar progress-bar-striped
                        {% if theme == 'light' %}
                            bg-primary
                        {% else %}
                            bg-success
                        {% endif %}
                    " role="progressbar" style="width: {{ pct }}%"
                         aria-valuenow="{{ pct }}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <br>
                <p>
                    Свободно: {{ free }} мб
                </p>
                <p>
                    Всего: {{ all }} мб
                </p>
                <button class="btn btn-outline-danger" onclick="document.location.replace('/accounts/logout')">
                    Выйти
                </button>
            </div>
            <div class="col-md">
                <p class="h2 header">
                    Тема оформления:
                </p>
                <div class="form-check form-switch">
                    <select id="theme-switch" class="form-select form-select-md">
                        <option value="light" {% if theme == 'light' %}selected{% endif %}>светлая</option>
                        <option value="dark" {% if theme == 'dark' %}selected{% endif %}>тёмная</option>
                        <option value="neon" {% if theme == 'neon' %}selected{% endif %}>неоновая</option>
                    </select>
                    {% csrf_token %}
                    <label class="form-check-label" for="theme-switch">Тёмная тема</label>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/theme-script.js' %}"></script>
{% endblock content %}