{% extends 'base.html' %}
{% load static %}
{% load main_tag %}

{% block title %}
    {{ user.username }}
{% endblock title %}

{% block content %}
    {% get_header 'mydisk' request %}
    <link rel="stylesheet" href="{% static 'styles/disk-style.css' %}">
    <div class="container text-center header">
        <h2>
            Диск пользователя {{ user.username }}
        </h2>
    </div>
    <div class="container text-center" style="margin-top: 10px">
        <div class="btn-toolbar text-center" role="toolbar">
            <div class="btn-group mr-2" role="group">
                <button type="button" class="btn
                {% if request.user.disk_set.all.0.theme == 'dark' %}
                btn-success
                {% elif request.user.disk_set.all.0.theme == 'neon' %}
                btn-outline-primary
                {% else %}
                btn-primary
                {% endif %}
                " data-toggle="modal" data-target="#uploadFilesModal">
                    Загрузить файлы
                </button>
                <button type="button" class="btn
                {% if request.user.disk_set.all.0.theme == 'dark' %}
                btn-success
                {% elif request.user.disk_set.all.0.theme == 'neon' %}
                btn-outline-primary
                {% else %}
                btn-primary
                {% endif %}
                " data-toggle="modal" data-target="#createFolderModal">
                    Создать папку
                </button>
                <button type="button" class="btn
                {% if request.user.disk_set.all.0.theme == 'dark' %}
                btn-success
                {% elif request.user.disk_set.all.0.theme == 'neon' %}
                btn-outline-primary
                {% else %}
                btn-primary
                {% endif %}
                " onclick="document.location.replace('/main')">Личный
                    кабинет
                </button>

            </div>
            {% if dir != "none" %}
                <div class="btn-group mr-2" role="group">
                    <button type="button" class="btn btn-secondary" onclick="document.location.replace('/mydisk/none')">
                        В
                        главную директорию
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
    <br>
    <ul class="list-group" id="files-ul">
        <div id="folders">
            {% for folder in folders %}
                <li class="list-group-item" id="---folder-div_{{ folder }}">
                    <div class="fileblock">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="65px">
                            <g class="icon">
                                <path d="M19.5 20.5h-15A2.47 2.47 0 0 1 2 18.07V5.93A2.47 2.47 0 0 1 4.5 3.5h4.6a1 1 0 0 1 .77.37l2.6 3.18h7A2.47 2.47 0 0 1 22 9.48v8.59a2.47 2.47 0 0 1-2.5 2.43zM4 13.76v4.31a.46.46 0 0 0 .5.43h15a.46.46 0 0 0 .5-.43V9.48a.46.46 0 0 0-.5-.43H12a1 1 0 0 1-.77-.37L8.63 5.5H4.5a.46.46 0 0 0-.5.43z"></path>
                            </g>
                        </svg>
                        <h4 style="max-width: 50%; overflow: auto">
                            <a href="/mydisk{% if dir != "none" %}/{{ dir }}`{% else %}/{% endif %}{{ folder }}"
                               style="text-decoration: none;
                                       {% if request.user.disk_set.all.0.theme == 'dark' %}
                                           color: #c3c3c3
                                       {% endif %}">
                                {{ folder }}
                            </a>
                        </h4>
                        <a href="/mydisk{% if dir != "none" %}/{{ dir }}`{% else %}/{% endif %}{{ folder }}"
                           title="открыть">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="65px">
                                <g class="icon">
                                    <path d="M20 5a1 1 0 0 0-1-1h-5a1 1 0 0 0 0 2h2.57l-3.28 3.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0L18 7.42V10a1 1 0 0 0 1 1 1 1 0 0 0 1-1z"></path>
                                    <path d="M10.71 13.29a1 1 0 0 0-1.42 0L6 16.57V14a1 1 0 0 0-1-1 1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h5a1 1 0 0 0 0-2H7.42l3.29-3.29a1 1 0 0 0 0-1.42z"></path>
                                </g>
                            </svg>
                        </a>
                        <a onclick="remove('{{ dir }}', '{{ folder }}', 'delete-folder')" title="удалить">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="65px">
                                <g class="icon">
                                    <path d="M21 6h-5V4.33A2.42 2.42 0 0 0 13.5 2h-3A2.42 2.42 0 0 0 8 4.33V6H3a1 1 0 0 0 0 2h1v11a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V8h1a1 1 0 0 0 0-2zM10 4.33c0-.16.21-.33.5-.33h3c.29 0 .5.17.5.33V6h-4zM18 19a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V8h12z"></path>
                                </g>
                            </svg>
                        </a>
                    </div>
                </li>
            {% endfor %}
        </div>

        {% for file in files_linked %}
            <li class="list-group-item" id="---file-div_{{ file.0 }}">
                <div class="fileblock">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="65px">
                        <g class="icon">
                            <path d="M19.74 8.33l-5.44-6a1 1 0 0 0-.74-.33h-7A2.53 2.53 0 0 0 4 4.5v15A2.53 2.53 0 0 0 6.56 22h10.88A2.53 2.53 0 0 0 20 19.5V9a1 1 0 0 0-.26-.67zM17.65 9h-3.94a.79.79 0 0 1-.71-.85V4h.11zm-.21 11H6.56a.53.53 0 0 1-.56-.5v-15a.53.53 0 0 1 .56-.5H11v4.15A2.79 2.79 0 0 0 13.71 11H18v8.5a.53.53 0 0 1-.56.5z"></path>
                        </g>
                    </svg>
                    <h4 style="max-width: 50%; overflow: auto">
                        {{ file.0 }}
                    </h4>
                    <a href="/download/{{ dir }}/{{ file.0 }}" title="загрузить" download>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="65px">
                            <g class="icon">
                                <rect width="24" height="24" opacity="0"></rect>
                                <rect x="4" y="18" width="16" height="2" rx="1" ry="1"></rect>
                                <rect x="3" y="17" width="4" height="2" rx="1" ry="1"
                                      transform="rotate(-90 5 18)"></rect>
                                <rect x="17" y="17" width="4" height="2" rx="1" ry="1"
                                      transform="rotate(-90 19 18)"></rect>
                                <path d="M12 15a1 1 0 0 1-.58-.18l-4-2.82a1 1 0 0 1-.24-1.39 1 1 0 0 1 1.4-.24L12 12.76l3.4-2.56a1 1 0 0 1 1.2 1.6l-4 3a1 1 0 0 1-.6.2z"></path>
                                <path d="M12 13a1 1 0 0 1-1-1V4a1 1 0 0 1 2 0v8a1 1 0 0 1-1 1z"></path>
                            </g>
                        </svg>
                    </a>
                    <a onclick="remove('{{ dir }}', '{{ file.0 }}', 'delete-file')" title="удалить">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="65px">
                            <g class="icon">
                                <path d="M21 6h-5V4.33A2.42 2.42 0 0 0 13.5 2h-3A2.42 2.42 0 0 0 8 4.33V6H3a1 1 0 0 0 0 2h1v11a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V8h1a1 1 0 0 0 0-2zM10 4.33c0-.16.21-.33.5-.33h3c.29 0 .5.17.5.33V6h-4zM18 19a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V8h12z"></path>
                            </g>
                        </svg>
                    </a>
                    <a onclick="copy('{{ file.1 }}')" style="cursor: pointer" title="копировать ссылку">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="65px">
                            <g class="icon">
                                <path d="M13.29 9.29l-4 4a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l4-4a1 1 0 0 0-1.42-1.42z"></path>
                                <path d="M12.28 17.4L11 18.67a4.2 4.2 0 0 1-5.58.4 4 4 0 0 1-.27-5.93l1.42-1.43a1 1 0 0 0 0-1.42 1 1 0 0 0-1.42 0l-1.27 1.28a6.15 6.15 0 0 0-.67 8.07 6.06 6.06 0 0 0 9.07.6l1.42-1.42a1 1 0 0 0-1.42-1.42z"></path>
                                <path d="M19.66 3.22a6.18 6.18 0 0 0-8.13.68L10.45 5a1.09 1.09 0 0 0-.17 1.61 1 1 0 0 0 1.42 0L13 5.3a4.17 4.17 0 0 1 5.57-.4 4 4 0 0 1 .27 5.95l-1.42 1.43a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l1.42-1.42a6.06 6.06 0 0 0-.6-9.06z"></path>
                            </g>
                        </svg>
                    </a>
                </div>
            </li>
        {% endfor %}
        {% for file in files_unlinked %}
            <li class="list-group-item" id="---file-div_{{ file }}">
                <div class="fileblock">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <g class="icon">
                            <path d="M19.74 8.33l-5.44-6a1 1 0 0 0-.74-.33h-7A2.53 2.53 0 0 0 4 4.5v15A2.53 2.53 0 0 0 6.56 22h10.88A2.53 2.53 0 0 0 20 19.5V9a1 1 0 0 0-.26-.67zM17.65 9h-3.94a.79.79 0 0 1-.71-.85V4h.11zm-.21 11H6.56a.53.53 0 0 1-.56-.5v-15a.53.53 0 0 1 .56-.5H11v4.15A2.79 2.79 0 0 0 13.71 11H18v8.5a.53.53 0 0 1-.56.5z"></path>
                        </g>
                    </svg>
                    <h4 style="max-width: 50%; overflow: auto">
                        {{ file }}
                    </h4>
                    <a href="/download/{{ dir }}/{{ file }}" title="скачать" download>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="65px">
                            <g class="icon">
                                <rect width="24" height="24" opacity="0"></rect>
                                <rect x="4" y="18" width="16" height="2" rx="1" ry="1"></rect>
                                <rect x="3" y="17" width="4" height="2" rx="1" ry="1"
                                      transform="rotate(-90 5 18)"></rect>
                                <rect x="17" y="17" width="4" height="2" rx="1" ry="1"
                                      transform="rotate(-90 19 18)"></rect>
                                <path d="M12 15a1 1 0 0 1-.58-.18l-4-2.82a1 1 0 0 1-.24-1.39 1 1 0 0 1 1.4-.24L12 12.76l3.4-2.56a1 1 0 0 1 1.2 1.6l-4 3a1 1 0 0 1-.6.2z"></path>
                                <path d="M12 13a1 1 0 0 1-1-1V4a1 1 0 0 1 2 0v8a1 1 0 0 1-1 1z"></path>
                            </g>
                        </svg>
                    </a>
                    <a title="удалить" onclick="remove('{{ dir }}', '{{ file }}', 'delete-file')">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="65px">
                            <g class="icon">
                                <path d="M21 6h-5V4.33A2.42 2.42 0 0 0 13.5 2h-3A2.42 2.42 0 0 0 8 4.33V6H3a1 1 0 0 0 0 2h1v11a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V8h1a1 1 0 0 0 0-2zM10 4.33c0-.16.21-.33.5-.33h3c.29 0 .5.17.5.33V6h-4zM18 19a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V8h12z"></path>
                            </g>
                        </svg>
                    </a>
                    <a onclick="makePublic('{{ file }}', '{{ dir }}')" title="сделать общедоступным"
                       id="---make-public-a_{{ file }}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="65px">
                            <g class="icon">
                                <path d="M8 12a1 1 0 0 0 1 1h6a1 1 0 0 0 0-2H9a1 1 0 0 0-1 1z"></path>
                                <path d="M9 16H7.21A4.13 4.13 0 0 1 3 12.37 4 4 0 0 1 7 8h2a1 1 0 0 0 0-2H7.21a6.15 6.15 0 0 0-6.16 5.21A6 6 0 0 0 7 18h2a1 1 0 0 0 0-2z"></path>
                                <path d="M23 11.24A6.16 6.16 0 0 0 16.76 6h-1.51C14.44 6 14 6.45 14 7a1 1 0 0 0 1 1h1.79A4.13 4.13 0 0 1 21 11.63 4 4 0 0 1 17 16h-2a1 1 0 0 0 0 2h2a6 6 0 0 0 6-6.76z"></path>
                            </g>
                        </svg>
                    </a>
                </div>
            </li>
        {% endfor %}
    </ul>
    <div class="modal fade" id="uploadFilesModal" tabindex="-1" aria-labelledby="uploadFilesModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content
            {% if request.user.disk_set.all.0.theme == 'dark' or request.user.disk_set.all.0.theme == 'neon' %}
            bg-dark
            {% endif %}">
                <div class="modal-header header">
                    <h5 class="modal-title" id="uploadFilesModalLabel">Загрузка файлов</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <form class="action-form" id="upload-file-form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="dir" value="{{ dir }}">
                        <label id="inputFile">
                            Выбрать файлы
                            <input type="file" name="files" id="input-file"
                                   onchange="inputChanged()" multiple></label>
                        <br>
                        <label id="nameOfFile">Файлы не выбраны</label>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn
                    {% if request.user.disk_set.all.0.theme != 'neon' %}
                    btn-secondary
                    {% else %}
                    btn-outline-primary
                    {% endif %}
                    " data-dismiss="modal">Закрыть
                    </button>
                    <button type="button" class="btn
                    {% if request.user.disk_set.all.0.theme != 'neon' %}
                    btn-primary
                    {% else %}
                    btn-outline-primary
                    {% endif %}
                    " onclick="uploadFiles()">Загрузить файлы
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="createFolderModal" tabindex="-1" aria-hidden="true"
         aria-labelledby="uploadFilesModalLabel">
        <div class="modal-dialog">
            <div class="modal-content
            {% if request.user.disk_set.all.0.theme == 'dark' or request.user.disk_set.all.0.theme == 'neon' %}
            bg-dark
            {% endif %}">
                <div class="modal-header">
                    <h5 class="modal-title header" id="createFolderModalLabel">
                        Создание папки
                    </h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <form class="action-form" id="new-folder-form">
                    <div class="modal-body text-center">
                        <input type="hidden" value="{{ dir }}" id="dir">
                        <input type="text" name="login" id="folderName" class="form-control" placeholder="Название"
                               autocomplete="off" required>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn
                            {% if request.user.disk_set.all.0.theme != 'neon' %}
                            btn-primary
                            {% else %}
                            btn-outline-primary
                            {% endif %}
                        " value="Создать папку">
                        <button class="btn
                            {% if request.user.disk_set.all.0.theme != 'neon' %}
                                btn-secondary
                            {% else %}
                                btn-outline-primary
                            {% endif %}
                            " data-dismiss="modal">Закрыть</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'js/buffer-script.js' %}"></script>
    <script src="{% static 'js/disk-script.js' %}"></script>
{% endblock content %}