{% extends 'base.html' %}

{% block title %}
    Препросмотр
{% endblock title %}

{% block content %}
    <center>
        <h2>
            Предпросмотр текстового файла
        </h2>
    </center>
    <br>
    <div id="form-margin">
        <form action="{% url 'retext' %}" method="post">
            {% if editable == True %}
                {% csrf_token %}
                <textarea name="text" cols="30" rows="10">
                    {{ text }}
                </textarea>
                <input type="hidden" name="folder" value="{{ folder }}">
                <input type="hidden" name="filename" value="{{ filename }}">
                <br>
                <input type="submit" value="Запистаь изменения в файл">
            {% else %}
                <p>
                    {{ text }}
                </p>
            {% endif %}
        </form>
    </div>
{% endblock content %}