{% extends 'base.html' %}
{% block content %}
    <center>
        <h2>
            Загрузить файл
        </h2>
    </center>
    <br>
    <div id="form-margin">
        <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data" id="form">
            <center>
                {% csrf_token %}
                <br><br>
                <input type="hidden" name="dir" value="{{ dir }}">
                <label id="inputFile">Выбрать файлы<input type="file" name="file" id="input"
                                                          onchange="inputChanged()" multiple></label>
                <br>
                <br>
                <br>
                <label id="nameOfFile">Файлы не выбраны</label>
                <br><br>
                <input type="submit" value="Загрузить" id="btnsubmit">
            </center>
        </form>
    </div>
    <script>
        /*function sendForm() {
            var sizeOfFile = document.getElementById("input").files[0].size;
            console.log(sizeOfFile);
            if (sizeOfFile + <% SIZEOFDIR %> < <% ALLSIZE %>) {
                var form = document.getElementById("form");
                form.submit();
            }
            else {
                alert("Недостаточно места на диске! Для загрузки файла необходимо приобрести лицензию.");
            }
        }*/

        const inputChanged = () => {
            let input = document.getElementById("input");
            let label = document.getElementById("nameOfFile");
            let text = "";
            for (let i = 0; i < input.files.length; i++) {
                console.log(input.files[i].name)
                text += input.files[i].name + "<br>"
            }
            console.log(text);
            label.innerHTML = text;
        }
    </script>
    <style>

    </style>
{% endblock content %}