{% load static %}
<header>
    <table>
        <td id="left">
            <div id="menu">
                <span class="menu-span"></span>
                <span class="menu-span"></span>
                <span class="menu-span"></span>
            </div>
        </td>
        <td id="center">
            <h2>
                Disk
            </h2>
        </td>
        <td id="right">
            <a href="/author">
                <img src="{% static 'images/coder8080.png' %}" id="author">
            </a>
        </td>
    </table>
</header>