<div id="hidden">
    <h3>
        <div id="menu-margin">
            <div class="li" onclick="goToMain()" title="Прейти на главную страницу">
                Главная
            </div>
            <div class="li" onclick="goToLogin()" title="Войти в свой аккаунт на этом сайте">
                Войти
            </div>
            <div class="li" onclick="goToReg()" title="Зарегестрироваться на этом сайте">
                Создать аккаунт
            </div>
            <div class="li" onclick="goToLich()" title="Перейти в личный кабинет">
                Личный кабинет
            </div>
            <div class="li" onclick="goToMyDisk()" title="Перейти на страницу вашего диска">
                Мой диск
            </div>
            <div class="li" onclick="goToAuthor()" title="Перейти на страницу биографии автора">
                Об авторе
            </div>
            <div class="li" onclick="goToOut()" title="Выйти из своего аккаунта на этом сайте">
                Выйти
            </div>
            <div class="li" title="Для администраторов сайта" onclick="goToAdmin()">
                Панель управления
            </div>
        </div>
    </h3>
</div>
<div id="margin"></div>