<div id="hidden">
    <h3>
        <div id="menu-margin">
            <div class="li" onclick="goToMain()">
                Главная
            </div>
            <div class="li" onclick="goToLogin()">
                Войти
            </div>
            <div class="li" onclick="goToReg()">
                Создать аккаунт
            </div>
            <div class="li" onclick="goToLich()">
                Личный кабинет
            </div>
            <div class="li" onclick="goToMyDisk()">
                Мой диск
            </div>
            <div class="li" onclick="goToAuthor()">
                Об авторе
            </div>
            <div class="li" onclick="goToOut()">
                Выйти
            </div>
        </div>
    </h3>
</div>
<div id="margin"></div>