{% load static %}
<nav class="navbar navbar-expand-md {% if theme == 'light' %} navbar-light bg-light {% else %} navbar-dark bg-dark {% endif %} fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="{% static 'images/disk.png' %}" width="30" height="30" class="d-inline-block align-top"
                 alt="logo">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if page == 'main' %}active{% endif %}" href="/">Главная</a>
                </li>
                <!--            <li class="nav-item dropdown">-->
                <!--                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"-->
                <!--                   aria-expanded="false">Аккаунт</a>-->
                <!--                <div class="dropdown-menu" aria-labelledby="dropdown01">-->
                <!--                    <a class="dropdown-item" href="#">Войти</a>-->
                <!--                    <a class="dropdown-item" href="#">Зарегестрироваться</a>-->
                <!--                    <a class="dropdown-item" href="#">Личный кабинет</a>-->
                <!--                </div>-->
                <!--            </li>-->
                <li class="nav-item">
                    <a href="/mydisk" class="nav-link {% if page == 'mydisk' %}active{% endif %}">
                        Мой диск
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/main" class="nav-link {% if page == 'private_office' %}active{% endif %}">
                        Личный кабинет
                    </a>
                </li>
            </ul>
        </div>

    </div>
</nav>
<!--Отступ-->
<div style="height: 3.5em"></div>