.input-text {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

svg{
    height: 3rem;
}

#fileBox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.fileblock {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: transparent;
}

ul {
    background: transparent;
}

.list-group-item{
    background: transparent;
}

.fileblock a {
    margin-left: 10px;
}

#inputFile {
    padding: 20px;
    border-radius: 15px;
    background-color: #f0f0f0;
    color: black;
    cursor: pointer;
}

#input-file {
    display: none;
}

#folders h4{
    margin-left: 10px;
}

/*.list-group-item{*/
/*     background-color: transparent*/
/*}*/